@page "/Associacao"

<div class="row">
    <img class="image" src="\images\imgKPSassociacao.jpg" alt="SimboloAssociacao"
    <h1>A Associação KPS</h1>
    <p>Na sequência de uma grande vontade dos seus fundadores de constituirem uma Associação com fortes princípios Democráticos, 
        onde as decisões de todos são a garantia do bom funcionamento e do sucesso da sua atividade no desenvolvimento do Karate Shotokan, seguindo os
        princípios do Sensei Gichin Funakoshi, nasceu a KPS</p>
        <p>Filiada nos seguintes Organismos nacionais:<br />Federação Nacional de Karate-Portugal (FNK-P)<br />Liga Portuguesa de Karate Shotokan (LPKS)
        <br />Organismo Internacional : Funakoshi Shotokan Karate Association (FSKA)</p>
        <p>Instrutor Chefe Mundial : Shihan Kenneth Funakoshi 9º Dan.</p>
        <a href="https://kpshotokan.wordpress.com/sobre-a-kps/">Visitar a KPS</a>
</div>

@code {

}
