body {
}

.card {
/*    width: 600px;*/
    height:270px;
    text-align: left;
    margin: 10% 3% 3% 5% !important; 
    border-color:black;
    background-color: #EDE1E1;
    font-size: 14px;
}




.rules {
 
    flex-direction: column;
    margin: 5% 3% 3% 20%;
    border-color: #b89d5f;
    border-color: #BE2132;

}

.card-title {
    margin: 4% 0 2% 2%;
    text-align: left;
    text-decoration: underline 1px #BE2132;
}

.home {
    margin-left: 90%;
    width: 38px;
    height: 32px;
}