@page "/Benefits"
 @rendermode InteractiveServer

<a class="navbar-brand" href="#">

    <img class="home" src="../images/home-01_generated_black-Transp.jpg" alt="KPS Montijo" />
</a>
<h5 class="card-title">Os Benefícios do Karate:</h5>
<div class="row">
    <div class="col-md-4">
        <div class="card " style="margin-right:10%;">
            <div class="card-body">

                <h7 class="card-subtitle mb-2 text-body-secondary">Muito Além da Competição</h7>
                <p class="card-text">
                    O Karate é uma arte marcial milenar que transcende o simples treino físico, proporcionando benefícios que se estendem a todas as faixas etárias. Seja para crianças, jovens, adultos ou seniores, a prática desta modalidade enriquece não apenas o corpo, mas também a mente e o espírito, tornando-se um poderoso instrumento de desenvolvimento pessoal e profissional.

                    O Karate é regido por cinco máximas fundamentais que orientam os seus praticantes: caráter, sinceridade, esforço, etiqueta e autocontrolo. Estes princípios constituem a base ética e filosófica da modalidade, influenciando positivamente a forma como cada praticante encara a vida e interage com os outros.
                </p>



            </div>
        </div>
        <div class="card">
            <div class="card-body">

                <h7 class="card-subtitle mb-2 text-body-secondary">Disciplina e Autocontrolo</h7>
                <p class="card-text">
                    Entre as cinco máximas do Karate, o autocontrolo destaca-se como um dos pilares essenciais. Desde os primeiros treinos, o praticante aprende a gerir as suas emoções, a respeitar os outros e a manter a concentração, mesmo sob pressão. Esta capacidade de se manter calmo e focado é fundamental não apenas na prática desportiva, mas também no contexto académico, profissional e familiar.
                </p>



            </div>
        </div>
        <div class="card">
            <div class="card-body">

                <h7 class="card-subtitle mb-2 text-body-secondary">Saúde Física e Mental</h7>
                <p class="card-text">O Karate é uma prática completa que melhora a condição física geral, promovendo força, flexibilidade, coordenação e resistência cardiovascular. Além disso, contribui para o bem-estar mental, ajudando a aliviar o stress e a ansiedade. Para os mais jovens, a modalidade fortalece o corpo e desenvolve competências motoras e cognitivas. Para os adultos e seniores, é uma forma de preservar a mobilidade, prevenir doenças associadas ao envelhecimento e manter uma mente ativa.</p>

            </div>
        </div>
        <div class="card">
            <div class="card-body">

                <h7 class="card-subtitle mb-2 text-body-secondary">Confiança e Resiliência</h7>
                <p class="card-text">O Karate ensina que o esforço é a base para alcançar qualquer objetivo. Cada técnica aperfeiçoada e cada nova graduação alcançada refletem o progresso do praticante, promovendo a autoconfiança e a resiliência. Esta capacidade de superação é facilmente aplicada na vida quotidiana, ajudando os praticantes a lidar com adversidades e a manterem-se motivados mesmo em tempos difíceis.</p>

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <img src="../images/Dojokun.jpg" class="rules"/>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">

                <h7 class="card-subtitle mb-2 text-body-secondary">Educação para os Valores</h7>
                <p class="card-text">Mais do que uma prática desportiva, o Karate é uma filosofia de vida. Ao longo dos treinos, os praticantes interiorizam valores como a sinceridade e a etiqueta, que reforçam o respeito pelos outros e pela sociedade. A máxima do caráter ensina a agir com integridade e a tomar decisões éticas, promovendo uma conduta exemplar tanto na vida pessoal como no ambiente profissional.</p>

            </div>
        </div>
        <div class="card">
            <div class="card-body">

                <h7 class="card-subtitle mb-2 text-body-secondary">Não Apenas Competição</h7>
                <p class="card-text">Embora os campeonatos sejam uma oportunidade para demonstrar habilidades e espírito competitivo, o verdadeiro propósito do Karate vai muito além do pódio. O foco está no crescimento interno e na aplicação das cinco máximas no dia-a-dia. Esta modalidade pode ser praticada durante toda a vida, adaptando-se às necessidades de cada faixa etária e valorizando o processo de aprendizagem e evolução contínua.</p>

            </div>
        </div>
        <div class="card">
            <div class="card-body">

                <h7 class="card-subtitle mb-2 text-body-secondary">Benefícios no Contexto Profissional</h7>
                <p class="card-text">As competências desenvolvidas através do Karate, como a concentração, a disciplina e a capacidade de trabalhar em equipa, são altamente valorizadas no mundo profissional. Além disso, a prática reforça qualidades como a liderança, a resiliência e a capacidade de resolver conflitos, tornando os praticantes mais preparados para enfrentar os desafios do mercado de trabalho.</p>

            </div>
        </div>
        <div class="card">
            <div class="card-body">


                <p class="card-text">Em suma, o Karate é muito mais do que um desporto; é uma jornada de autodescoberta que se guia por princípios universais de caráter, sinceridade, esforço, etiqueta e autocontrolo. Estas máximas não apenas moldam o comportamento dentro do dojo, mas também ajudam a construir uma vida mais equilibrada, significativa e bem-sucedida.</p>

            </div>
        </div>
    </div>
</div>






@code {

}
