@page "/ClassesShedules"
@rendermode InteractiveServer

<a class="navbar-brand" href="#">
   
    <img class="home" src="../images/home-01_generated_black-Transp.jpg" alt="KPS Montijo" />
</a>
<div class="row">
    <div class="col">
        <div class="card">
            <img  src="../images/bejamin1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3>Classe Benjamins:</h3>
                <p class="card-text">18H30 - 19H15 <br/>*Mediante número de inscrições.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../images/infantil2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3>Classe Infantil:</h3>
                <p class="card-text">19H15 - 20H15<br /><br /></p>
            </div>
        </div>
    </div>
    <div class="col">

        <div class="card">
            <img src="../images/adults2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3>Classe Adultos:</h3>
                <p class="card-text">20H15 - 21H15<br/><br/></p>
            </div>
        </div>
    </div>
</div>

<h4>Aparece e experimenta Gratuitamente!</h4>

@code {

}
