body {
}

.card {
    display: flex;
    flex-direction: column;
    margin: 30% 0% 30% 16%;
    text-align: center;
    font-family: 'Arboria', 'Sans Serif Collection';
    border-color: #BE2132;
    width:min-content;
}
.card-img-top {
    width: 288px;
    height: 191px;
}

h4 {
    margin: 0 35% 8% 35%;
    border-bottom: 2px solid #BE2132;
    text-align:center;
   
}

.home {
    margin-left: 90%;
    width: 38px;
    height: 32px;
}