@page "/Contacts"
 @rendermode InteractiveServer


<a class="navbar-brand" href="#">

    <img class="home" src="../images/home-01_generated_black-Transp.jpg" alt="KPS Montijo" />
</a>
  <div class="page-background">
    
    <div class="row row-cols-3">

        <div class="col-3 adresscontacts">
            <div class="mb-3">
                <div class="card adress">
                    <div class="card-body ">
                        <h5 class="card-title"><Icon Name="IconName.Pin"></Icon>Endereço:</h5>
                        <p class="card-text">Pavilhão Nº2 <br />Rua dos Ciprestes<br /> 2870 Montijo</p>

                    </div>
                </div>
            </div>


            <div class="mb-3">
                <div class="card contacts">
                    <div class="card-body ">
                        <h5 class="card-title"><Icon Name="IconName.Phone"></Icon>Contatos:</h5>
                        <p class="card-text">Telm: 913942773 <br />Telm: 915791510 <br />Fixo: 212310862 <br />  (Preço chamada fixa)</p>

                    </div>
                </div>
            </div>
        </div>
       
        <div class="col-4">
            <div class="mb-3">
                <div class="card map_pav">
                    <div class="card-body ">
                        <h5 style="height:min-content;" class="card-title pavImage"><Icon Name="IconName.PinMap"></Icon>No mapa:</h5>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3571.4609197486593!2d-8.969885623763748!3d38.70923475778416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd19397597fe1665%3A0x9051f876ebd6a921!2sMunicipal%20Pavilion%20%23%202%20of%20Montijo!5e1!3m2!1sen!2spt!4v1730138984299!5m2!1sen!2spt" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        <br />
                        <br />
                        <br />
                        <br />
                        <h5 class="card-title"><Icon Name="IconName.PinMap"></Icon>Vista do Edifício:</h5>
                        <img src="../images/pavilhao.png" />


                    </div>
                </div>
            </div>
        </div>
       

    </div>
    </div>

 
   









@code {

}
