@page "/"


<PageTitle>Home</PageTitle>


<HeaderComponent />


<div class=" container-fluid card-img">
    <img src="\images\simbolo.jpg" alt="KPS Montijo symbol" />
</div>

<FooterComponent />
 
            
          
                
           
          
          
        
         
       


    