@page "/RegisterAthlete"
@rendermode InteractiveServer
@inject IJSRuntime JS


<a class="navbar-brand" href="#">

    <img class="homeImage" src="../images/home-01_generated_black-Transp.jpg" alt="KPS Montijo" />
</a>
<form>



    <div class="row">
        <div class="col-8">
            <div class="avatar-unpload">
                @if (!string.IsNullOrEmpty(avatarUrl))
                {
                    <img src="@avatarUrl" alt="Avatar" class="avatar-image" />
                }

                <InputFile OnChange="LoadFiles"  accept="images/*" />

            </div>
        </div>
        <div class=" form-group col-md-2">
            <label class="textRegister" for="input registerNumber">Ficha de Inscrição Nº:</label>
            <input type="text" class="form-control" id="registerNumber" />


        </div>

        @* ------------------------------------- *@

        <div class="form-row">

            <div class="form-group col-md-4">

                <label class="label name" for="inputFullName">Nome:</label>
                <input type="text" class="form-control" />
            </div>
        </div>
        <div class="form-row">

            <div class="form-group">
                <div class="col-md-2">
                    <label class="birthDay" for="inputBirthDay">Dta.Nascimento:</label>
                    <input type="date" class="form-control inputBirthDay" id="birthDay" />
                </div>
                <div class="col-md-2">
                    <label class="" for="inputHeight">Altura:</label>
                    <Input type="number" class="form-control" id="height" />
                    <button type="submit" Class="btn btn-outline-danger no-print" id="btnChange">Alterar</button>
                </div>
                <div class=" col-md-2">
                    <label class="" for="input">Peso:</label>
                    <Input type="number" class="form-control" id="weight" />
                    <button type="button" Class="btn btn-outline-danger no-print" id="btnChange">Alterar</button>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="" for="inputAdress">Morada:</label>
                        <input type="text" class="form-control" id="adress" />
                    </div>
                    <div class=" col-md-2">
                        <label class="" for="inputCity">Localidade:</label>
                        <input type="text" class="form-control col-md-2" id="location">
                    </div>
                    <div class=" col-md-2">
                        <label class="" for="inputZip">Código Postal:</label>
                        <input type="text" class="form-control col-md-2" id="inputZip" />
                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-1">
                    <label class="" for="inputPhone">Contacto:</label>
                    <input type="text" class="form-control" " />
                </div>
                <div class="col-md-3">
                    <label class="" for="inputEmail">E-mail:</label>
                    <input type="text" class="form-control col-md-6" id="email" />
                </div>
                <div class="col-md-2">
                    <label class="" for="inputOccupation">Profissão:</label>
                    <input type="text" class="form-control" " />
                </div>


            </div>
            <div class="form-group">
                <div class="col-md-1">
                    <label class="" for="inputNative">Naturalidade:</label>
                    <input type="text" class="form-control" id="native" />

                </div>
                <div class="col-md-1">
                    <label class="" for="inputNationality">Nacionalidade:</label>
                    <input type="text" class="form-control" id="nationality" />
                </div>
                <div class="col-md-1">
                    <label class="" for="inputCcNumber">C.C. Nº:</label>
                    <input type="text" class="form-control" id="ccNumber" />
                </div>
                <div class="col-md-1">

                    <label class="" for="inputExpiry">Validade:</label>
                    <input type="text" class="form-control" id="expiry">

                </div>
                <div class="col-md-1">
                    <label class="" for="inputVat">NIF Nº:</label>
                    <input type="text" class="form-control" id="vat" />
                </div>

            </div>

            <div class="form-group">

                <label class="" for="input">Data da Inscrição:</label>
                <input type="date" class="form-control" id="registerDate" />

                <label class="" for="input">Assinatura:</label>
                <input type="text" class="form-control" id="signature" />
                <label for="input"> Assinatura E.Educação: </label>
                <input type="text" class="form-control" id=" parentSignature" />
            </div>



        </div>


        <div class="form-group">
            @if (submitted)
            {
                <p>Atleta inscrito<img href="../images/armStrong.png" /></p>
            }
            <button type="submit" class="btn btn-outline-secondary no-print no-focus-style">Guardar</button>
            <button type="button" class="btn btn-outline-danger no-print no-focus-style" @onclick="PrintPage">Print</button>
        </div>

        <div>
          

        </div>




        <img class="symbolImage" src="\images\kps_symbol.jpg" />

        <p class="symbolText">Karate-Do Portugal Shotokan</p>

    </div>
</form>








@code {
    private bool submitted = false;
    private string avatarUrl = "/images/avatar-default.png"; //image path
    private IJSObjectReference? _printModule;


    //Method for upload athlete photo
    async Task LoadFiles(InputFileChangeEventArgs e)
    {
        var file = e.File;

        //limit the maximum image size
        if (file.Size > 5 * 1024 * 1024) // 5MB
        {
            Console.WriteLine("O ficheiro é demasiado grande.");
            return;
        }

        //Convert image to base64 for immediate display
        var buffer = new byte[file.Size];
        await file.OpenReadStream().ReadAsync(buffer);

        //Updates the avatar URL with the base64 of the uploaded image
        avatarUrl = $"data:image/png;base64,{Convert.ToBase64String(buffer)}";

        //debug url
        Console.WriteLine($"Imagem carregada com sucesso! {avatarUrl}");

        StateHasChanged();
    }

    //Method to print the page
  
        private async Task PrintPage()
        {
            await JS.InvokeVoidAsync("print");
        }
    


   
    



    // // ensures that the user does not enter the same document twice
    // string newFileName = Path.ChangeExtension(Path.GetRandomFileName(), Path.GetExtension(file.Name));





}






