body {
}
.zds-input-base__input {
    border: none; /* Remove a borda */
    outline: none; /* Remove o contorno ao clicar */
    border-bottom: 1px solid #ccc; /* Adiciona uma linha inferior */
    width: 50%; /* Faz com que o input ocupe toda a largura */
}