@page "/RegisterAthlete"
@rendermode InteractiveServer



<form>
    <div class="row">
        <div class="form-group">
            <div class="avatar-unpload">
                @if (!string.IsNullOrEmpty(avatarUrl))
                {
                    <img src="@avatarUrl" alt="Avatar" class="avatar-image" />
                }
                
                <InputFile OnChange="LoadFiles" accept="images/*"/>
            </div>
           
        </div>
        <div class="form-group col-md-2">
            <label for="input registerNumber">Ficha de Inscrição Nº:</label>
            <input type="text" class="form-control" id="registerNumber"/>
        </div>


        <div class="form-group col-md-6">

            <label for="inputFullName">Name:</label>
            <input type="text" class="form-control" id="fullName" />
        </div>
               
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="inputBirthDay">Data de Nascimento:</label>
                <input type="text" class="form-control" id="birthDay" />

            </div>
            <div class="form-group col-md-2">
                <label for="inputHeight">Altura:</label>
                <Input type="number" class="form-control" id="height" />
                <Button Type="ButtonType.Submit" Class="btn btn-primary">Alterar</Button>
                <label for="input">Peso:</label>
                <Input type="number" class="form-control" id="weight" />
                <Button Type="ButtonType.Submit" Class="btn btn-primary">Alterar</Button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <label for="inputAdress">Morada:</label>
                <input type="text" class="form-control" id="adress" />
            </div>
            <div class=" col-md-2">
                <label for="inputCity">Localidade:</label>
                <input type="text" class="form-control col-md-2" id="location">
                <label for="inputZip">Código Postal:</label>
                <input type="text" class="form-control col-md-2" id="inputZip" />
            </div>
           
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <label for="inputPhone">Contacto:</label>
                <input type="text" class="form-control" id="vat" />
            </div>
            <div class="col-md-6">
                <label for="inputEmail">E-mail:</label>
                <input type="text" class="form-control col-md-6" id="email" />
            </div>
            <div class="col-md-2">
                <label for="inputOccupation">Profissão:</label>
                <input type="text" class="form-control" id="vat" />
            </div>
           

        </div>
        <div class="form-group col-md-2">
            <label for="inputNative">Naturalidade:</label>
            <input type="text" class="form-control" id="native"/>
            <label for="inputNationality">Nacionalidade:</label>
            <input type="text" class="form-control" id="nationality" />
        </div>
        
           
       
       
        <div class="form-group col-md-3">
            <label for="inputCcNumber">C.C. Nº:</label>
            <input type="text" class="form-control" id="ccNumber"/>
            <label for="inputExpiry">Validade:</label>
            <input type="text" class="form-control" id="expiry">
            <label for="inputVat">NIF Nº:</label>
            <input type="text" class="form-control" id="vat"  />
        </div>
        <div class="form-group col-md-2">
            
            <label for="input">Data da Inscrição:</label>
            <input type="date" class="form-control" id="registerDate" />
           
            <label for="input">Assinatura:</label>
            <input type="text" class="form-control" id="signature" />
            <label for="input"> Assinatura E.Educação: </label>
            <input type="text" class="form-control" id=" parentSignature" />
        </div>
        
        

    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
        
    <img src="\images\kps_symbol.jpg">
    <p>KPS</p>
    <p>Karate-Do Portugal Shotokan</p>
   


</form>
  

    
    
   
       


@code {
    private string avatarUrl = "/images/avatar-default.png"; //image path

    //Method for upload athlete photo
    async Task LoadFiles(InputFileChangeEventArgs e)
    {
        var file = e.File;

        //limit the maximum image size
        if (file.Size > 5 * 1024*1024) // 5MB
        {
            Console.WriteLine("O ficheiro é demasiado grande.");
            return;
        }

        //Convert image to base64 for immediate display
        var buffer = new byte[file.Size];
        await file.OpenReadStream().ReadAsync(buffer);

        //Updates the avatar URL with the base64 of the uploaded image
        avatarUrl = $"data:image/png;base64,{Convert.ToBase64String(buffer)}";

        //debug url
        Console.WriteLine($"Imagem carregada com sucesso! {avatarUrl}");

        StateHasChanged();
    }


    // // ensures that the user does not enter the same document twice
    // string newFileName = Path.ChangeExtension(Path.GetRandomFileName(), Path.GetExtension(file.Name));
}
                

   

               

            