@page "/Senseis"


<div class="main" style="height: auto !important;">
<div class="page-background">
    <div class="card card1 mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img class="imgMendes" src="\images\SenseiJoana.jpg" alt="FotoSensei">
                <p class="textM">Sensei Joana Mendes <br />4º Dan</p>
            </div>
            <div class="col-md-8">
                <div class="card-body">

                    <p class="card-text">
                        Os instrutores da KPS Montijo destacam-se pelo seu vasto conhecimento e experiência no ensino do Karaté. Ambos são filiados no Karate-Do Portugal Shotokan e estão oficialmente credenciados pelo Instituto Português do Desporto e Juventude (IPDJ), o que assegura a sua formação de excelência e conformidade com os mais altos padrões na prática desta arte marcial.

                        Com uma carreira sólida no universo competitivo, os instrutores contam com resultados notáveis em provas de nível nacional e internacional. Esta experiência prática, acumulada ao longo de anos, permite-lhes não só transmitir técnicas de elevado rigor, mas também preparar os seus alunos para enfrentar desafios, seja no tatami das competições ou no desenvolvimento das competências pessoais promovidas pelo Karaté.

                    </p>

                </div>
            </div>
        </div>
    </div>

    <div class="card card2 mb-3" style="max-width: 540px;">
        <div class="row g-0">

            <div class="col-md-8">
                <div class="card-body">

                    <p class="card-text">
                        Além do seu papel como treinadores, os instrutores desempenham funções como árbitros nacionais da Federação Nacional de Karaté (FNKP), uma responsabilidade que exige um conhecimento profundo das regras e regulamentações da modalidade. Esta dualidade de funções – enquanto professores e árbitros – garante uma abordagem completa e rigorosa no ensino, assegurando que cada aluno tem acesso a uma formação que combina disciplina, técnica e paixão pela tradição do Karaté.
                    </p>

                </div>
            </div>
            <div class="col-md-4">
                <img class="imgFernandes" src="\images\SenseiJoao.jpg" alt="FotoSensei">
                <p class="textF">Sensei João Fernandes <br />4º Dan</p>
            </div>
        </div>
    </div>


</div>

</div>

@code {

}
