@page "/Senseis"


<div class="row">
    <div class="col">
        <img src="\images\SenseiJoana.jpg" alt="FotoSensei" />
        <p>Sensei Joana Mendes <br />4º Dan</p>
        </div>
    <div class="col">
        <img src="\images\fenix_kps.jpg" alt="FotoFenix" />
        <p>Instrutores filiados no Karate-Do Portugal Shotokan, credenciados pelo IPDJ <br />(Instituto Português do Desporto e Juventude).</p>
        <p>Experiência e resultados competitivos a nível nacional e internacional.</p>
        <p>Árbritos nacionais da Federação Nacional de Karaté (FNKP).</p>
        </div>
    
    <div class="col">
        <img src="\images\SenseiJoao.jpg" alt="FotoSensei" />
        <p>Sensei João Fernandes <br />4º Dan</p>
        </div>
</div>

@code {

}
