 @rendermode InteractiveServer


<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
       
     @*    Nav bar menu authorisations depending on who is logged in *@
        <Authorized> </Authorized>

        <NotAuthorized></NotAuthorized>

        <a class="navbar-brand" href="#">
            <img src="\images\kps_symbol.jpg" alt="KPS Montijo" />

        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active"  aria-current="page" href="/Senseis">Sensei's</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"  aria-current="page" href="/Associacao">Associação</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/ClassesShedules">Turmas e Horários</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/Contacts">Contatos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/Traineeships">Estágios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/Championships">Campeomatos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/Events">Eventos</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link active"  aria-current="page" href="/RegisterAthlete">Inscrever atleta</a>
                </li>
            </ul>
           
        </div>
        @* login opens in a   pop-up *@
        <button type="button" class="btn btn-outline-danger" @onclick="OnShowModalClick">Login</button>
       
    </div>
</nav>

@code {
    private Modal modal;

    private async Task OnShowModalClick()
    {
        await modal?.ShowAsync();
    }

    private async Task OnHideModalClick()
    {
        await modal?.HideAsync();
    }
}
