@using KPS_DojoM_Blazor.Components.Pages
 @rendermode InteractiveServer

 <HeadContent>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
       
       @*  Nav bar menu authorisations depending on who is logged in *@
        <Authorized> </Authorized>

        <NotAuthorized></NotAuthorized>

        <a class="navbar-brand" href="#">
            <img src="\images\kps_symbol.jpg" alt="KPS Montijo" />

        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" >
                <li class="nav-item">
                   @*  <a class="nav-link" aria-current="page" href="/Senseis">Sensei's</a> *@
                    <NavLink href="/Senseis" class="nav-link  " active-class="active">Sensei's'</NavLink>
                </li>
                <li class="nav-item">
                    @* <a class="nav-link " aria-current="page" active-class="active" href="/Associacao">Associação</a> *@
                        <NavLink href="/Associacao" class="nav-link nav-item" active-class="active">Associação</NavLink>
                </li>
                <li class="nav-item">
                    @* <a class="nav-link" aria-current="page"  active-class="active" href="/ClassesShedules">Turmas e Horários</a> *@
                        <NavLink href="/ClassesShedules" class="nav-link nav-item" active-class="active">Turmas e Horários</NavLink>
                </li>
                <li class="nav-item">
                    @* <a class="nav-link" aria-current="page" href="/Contacts">Contatos</a> *@
                        <NavLink href="/Contacts" class="nav-link nav-item" active-class="active">Contatos</NavLink>
                </li>
                <li class="nav-item">
                    @* <a class="nav-link" aria-current="page" href="/Traineeships">Estágios</a> *@
                        <NavLink href="/Traineeships" class="nav-link nav-item" active-class="active">Estágios</NavLink>
                </li>
                <li class="nav-item">
                    @* <a class="nav-link" aria-current="page" href="/Championships">Campeomatos</a> *@
                        <NavLink href="/Championships" class="nav-link nav-item" active-class="active">Campeomatos</NavLink>
                </li>
                <li class="nav-item">
                    @* <a class="nav-link" aria-current="page" href="/Events">Eventos</a> *@
                        <NavLink href="/Events" class="nav-link nav-item" active-class="active">Eventos</NavLink>
                </li>
                 <li class="nav-item">
                   @*  <a class="nav-link" aria-current="page" href="/RegisterAthlete">Inscrever atleta</a> *@
                        <NavLink href="/RegisterAthlete" class="nav-link nav-item" active-class="active">Inscrever atleta</NavLink>
                </li>
            </ul> 

         
        </div>
      @*   login opens in a   pop-up  *@
        <button type="button" class="btn btn-outline-danger" @onclick="OnShowModalClick">Login</button>
       
    </div>

   

</nav>

</HeadContent>

@code {
    private Modal modal;

    private async Task OnShowModalClick()
    {
        await modal?.ShowAsync();
    }

    private async Task OnHideModalClick()
    {
        await modal?.HideAsync();
    }
}
