


body {
   
}



.navbar-brand {
    
     background-color: #ffffff;
    width: 100%;
    padding: 0 !important;
}

.collapse {
    font-family: 'Bio Sans Italic', 'Sans Serif Collection';
    margin: 0 5px;
    float:none;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50% , -50%);
}

.nav-item ::deep a{
    min-width: auto;
    white-space: nowrap ;
    color: black ;
    border-bottom: 2px solid #BE2132 ;
    transition: all 0.2s ;
}

    .nav-item ::deep a:hover,
    .nav-item ::deep a.active{
        border-bottom: 2px solid #000000 !important;
    }



  

.btn {
    font-family: 'Arboria', 'Sans Serif Collection';
  margin: 0 5px;
    right: 0px;
    color: #BE2132;
}

/*remove space*/
.bg-body-tertiary {
    --bs-bg-opacity:0 !important;
}

.simbol {
    width:97px;
    height: 122px;
    margin-top:3%;
    margin-left: 3%;
}