@inherits LayoutComponentBase



<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div>
 *@
 <header>
        <HeaderComponent></HeaderComponent>
 </header>

    <main>

       

       @*  <article class="content px-4"> *@
            @Body
      @*   </article> *@
      
    </main>

 <footer>
    <FooterComponent></FooterComponent>
</footer> 


</div>
